.center{
  text-align:center;
  background-color: black;
  font-family: sans-serif;
  margin: 270px 570px;
  border:rgb(221, 13, 13);
  border-style: solid;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
body{
  background-color: black;
}

